<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunxiang.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.neuqer.android.splash.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.MainActivity" />
        <activity android:name=".account.view.AccountActivity" />
        <activity android:name=".account.view.LoginActivity" />
        <activity android:name=".account.view.VerifyActivity" />
        <activity android:name=".account.view.RegisterActivity" />
        <activity android:name=".account.view.ResetActivity" />
        <activity android:name=".price.view.PriceRankActivity" />
        <activity android:name=".news.NewsDetailActivity" />
        <activity android:name=".personal.view.activity.PersonalListActivity" />
        <activity android:name=".search.view.SearchActivity" />
        <activity android:name=".search.view.SearchResultActivity" />
        <activity android:name=".product.view.activity.DetailProductActivity" />
        <activity android:name=".product.view.activity.ProductPublishActivity" />
        <activity android:name=".product.view.activity.ProductAssessActivity" />
        <activity android:name=".product.view.activity.DetailAssessActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yunxiang.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>